.box {
  border: 10px solid black;
  width: 500px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 50px;
}

img {
  margin-bottom: 50px;
}

.img {
  width: 400px;
  height: 400px;
}

.main {
  display: flex;
  justify-content: center;
}

body {
  background-color: bisque;
}

button {
  margin: 10px;
}



.Win {
  border: 10px solid green;
  color: green;
}

.Lose {
  border: 10px solid red;
  color: red;
}

.Draw {
  border: 10px solid black;
  color: black;
}